In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# create df
train = pd.read_csv('train.csv')

In [3]:
train.dropna(inplace=True)

In [4]:
target = 'Survived'
features = ['Pclass', 'Age', 'SibSp', 'Fare']
X = train[features]
y = train[target]
model = LogisticRegression()
model.fit(X, y)
model.score(X,y)

0.7103825136612022

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [6]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [7]:
import requests
import json

In [8]:
url = 'http://127.0.0.1:5000'

# test data
data = {  'Pclass': 3
             , 'Age': 2
             , 'SibSp': 1
             , 'Fare': 50}

data = json.dumps(data)
data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [9]:
train[['Pclass', 'Survived']].groupby('Pclass').mean().sort_values(by = 'Survived', ascending = False)

        Survived
Pclass
2       0.800000
1       0.670886
3       0.500000

In [10]:
survivors = train.groupby('Survived')['Sex']
survivors.describe()

         count unique     top freq
Survived
0           60      2    male   54
1          123      2  female   82

In [11]:
survivors = train.groupby('Survived')['Age']
survivors.describe()

          count       mean        std   min    25%   50%   75%   max
Survived
0          60.0  41.350000  15.739484  2.00  29.75  44.5  52.5  71.0
1         123.0  32.905854  14.890113  0.92  23.00  33.0  42.0  80.0

In [12]:
survivors = train.groupby('Survived')['SibSp']
survivors.describe()

          count      mean       std  min  25%  50%  75%  max
Survived
0          60.0  0.366667  0.609714  0.0  0.0  0.0  1.0  3.0
1         123.0  0.512195  0.657440  0.0  0.0  0.0  1.0  3.0

In [13]:
train[['Pclass', 'Survived']].groupby('Pclass').mean().sort_values(by = 'Survived', ascending = False)

        Survived
Pclass
2       0.800000
1       0.670886
3       0.500000

In [14]:
data_test = pd.read_csv('test.csv')

In [15]:
data_test.describe(include='all')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,418.000000,418.000000,418,418,332.000000,418.000000,418.000000,418,417.000000,91,418
unique,NaN,NaN,418,2,NaN,NaN,NaN,363,NaN,76,3
top,NaN,NaN,"Daniels, Miss. Sarah",male,NaN,NaN,NaN,PC 17608,NaN,B57 B59 B63 B66,S
freq,NaN,NaN,1,266,NaN,NaN,NaN,5,NaN,3,270
mean,1100.500000,2.265550,NaN,NaN,30.272590,0.447368,0.392344,NaN,35.627188,NaN,NaN
std,120.810458,0.841838,NaN,NaN,14.181209,0.896760,0.981429,NaN,55.907576,NaN,NaN
min,892.000000,1.000000,NaN,NaN,0.170000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,996.250000,1.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN
50%,1100.500000,3.000000,NaN,NaN,27.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1204.750000,3.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.500000,NaN,NaN
max,1309.000000,3.000000,NaN,NaN,76.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN

In [16]:
heroku_url = 'https://dashboard.heroku.com/apps' 
input_sample_api = {  'Pclass': 3
             , 'Age': 2
             , 'SibSp': 1
             , 'Fare': 50}
input_sample_api = json.dumps(input_sample_api)

In [17]:
input_sample_api

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'