In [3]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# create df
train = pd.read_csv('train.csv')

In [4]:
train.dropna(inplace=True)

In [5]:
target = 'Survived'
features = ['Pclass', 'Age', 'SibSp', 'Fare']
X = train[features]
y = train[target]
model = LogisticRegression()
model.fit(X, y)
model.score(X,y)

0.7103825136612022

In [6]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [7]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [8]:
import requests
import json

In [9]:
url = 'http://127.0.0.1:5000'

# test data
data = {  'Pclass': 3
             , 'Age': 2
             , 'SibSp': 1
             , 'Fare': 50}

data = json.dumps(data)
data

'{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}'

In [10]:
train[['Pclass', 'Survived']].groupby('Pclass').mean().sort_values(by = 'Survived', ascending = False)

        Survived
Pclass
2       0.800000
1       0.670886
3       0.500000

In [12]:
survivors = train.groupby('Survived')['Sex']
survivors.describe()

         count unique     top freq
Survived
0           60      2    male   54
1          123      2  female   82

In [22]:
print(send_request.json())

NameError: name 'send_request' is not defined